

.amelia {
    background-image: url('Sirius.png');
    background-size: cover; /* This ensures the image covers the entire area */
    background-position: center; /* This centers the image */
}
#sky{
    background-image: url('pull.jpeg');
    background-size: cover; /* This ensures the image covers the entire area */
    background-position: center; /* This centers the image */
    color: white;
}

 .h1 {
  	font-family: "Fira Sans", sans-serif;}

  .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.image-container {
    text-align: center;
}

.mx-auto {
    margin-top: 20px;

}

.input-group {
    margin: 0 auto;
    margin-top: 20px;
}
